body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.8; /* Increased line-height for more spacing */
}

header {
    background-color: #61787F; /* Changed background color */
    color: white;
    padding: 3rem; /* Increased padding */
    text-align: left; /* Align text to the left */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
}

header img {
    width: 20em; /* Increased image size */
    height: auto;
}

header img {
    margin-right: 1rem; /* Space between image and text */
}

main {
    padding: 3rem; /* Increased padding */
    margin: 0 15rem; /* Increased lateral margins */
}

h1, h2, h3 {
    margin: 2rem 0; /* Increased margin */
}

h1 {
    font-size: 6em; /* Increased font size */
}

h2, h3 {
    font-size: 4em; /* Increased font size */
}

#best-movie img, .movie-list img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem; /* Increased bottom margin */
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem; /* Increased space between items */
}

.movie-list img {
    flex: 1 1 calc(33.333% - 3rem); /* Adjusted for increased space */
    max-width: calc(33.333% - 3rem); /* Adjusted for increased space */
}

@media (max-width: 768px) {
    .movie-list img {
        flex: 1 1 calc(50% - 3rem); /* Adjusted for increased space */
        max-width: calc(50% - 3rem); /* Adjusted for increased space */
    }
}

@media (max-width: 480px) {
    .movie-list img {
        flex: 1 1 100%;
        max-width: 100%;
    }
}